@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
body, pre {
    color: #293D39;
    background-color: white;
    font-family: 'Source Code Pro', monospace;
}

#h {
    display: none;
}

#m {
    display: flex;
    flex-flow: row;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 2;
}
#c {
    width: 50vw;
    margin: auto;
    display: flex;
}
#b a {
    display: block;
    width: 132px;
}
a.btn {
    display: block;
    border-radius: 5px;
    color: #212529;
    border-color: rgba(27,31,35,0.2);
    background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    background-color: #eff3f6;
    padding: 0.2em;
    font-size: 12px;
    text-decoration: none;
    height: 32px;
    font-family: sans-serif;
    margin-bottom: 0.5em;
}
a.btn div {
    display: flex;
    align-items: center;
}
a.btn img {
    margin: 8px;
}

img#l {
    padding-right: 2em;
}

h2 {
    color: #F29F05;
    margin-bottom: 0px;
}
h3 {
    margin-top: 0px;
}
a {
    color: #F29F05;
}