@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
body, pre {
    color: #293D39;
    background-color: white;
    font-family: 'Source Code Pro', monospace;
}
#m {
    display: flex;
    flex-flow: row;
}
pre {
    color: #293D39;
    padding-left: 1em;
    margin-left: 1em;
}
p {
    width: 40vw;
}
a.btn {
    margin-bottom: 0.5em;
    display:block;
}
h2 {
    width: 100%;
    padding-bottom: 2em;
}
h2 div, a {
    color: #F29F05;
}